---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
  <hr />
  <div class="share">
    <div class="fb-share-button" data-href="http://manifesto.fuckinchamp.fyi" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmanifesto.fuckinchamp.fyi%2F&amp;src=sdkpreparse">Share</a></div>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I%20aspire%20to%20being%20a%20Fuckin%27%20Champ.&url=http%3A%2F%2Fmanifesto.fuckinchamp.fyi">Tweet</a>
  </div>
</div>
